<sidebar class="sidebar d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;" th:fragment="sidebarFragment" xmlns:th="http://www.thymeleaf.org">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Min</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/home" class="nav-link active" aria-current="page">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                Home
            </a>
        </li>
        <li>
            <a href="/database" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#database"/></svg>
                Database
            </a>
        </li>
    </ul>
</sidebar>
